mqtt:
  host: <ditt-hivemq-cloud-host>
  port: 8883
  tls_ca_path: /etc/ssl/certs/ca-certificates.crt
  username: <hivemq-user>
  password_env: MQTT_PASSWORD
  client_id: genio-pi5
  qos: 1
  request_topic: genio/pi5/req
  response_topic: genio/pi5/resp
  state_topic: genio/pi5/state
  events_topic: genio/pi5/events
